* {
  margin: 0;
  border: box-sizng;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #cccccc;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
}
.portfolio {
  display: flex;
  flex-direction: row;
}
/*---------------------------------------------Nav Section styles------------------------------------------*/
.nav_section {
  position: fixed;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: #83c5be;
  width: 20%;
  height: 100%;
  align-items: center;
}

.nav_section > div > img {
  width: 80%;
  border-radius: 61px;
  height: 80%;
  padding-top: 5%;
}

.nav__lists {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 20px 0%;
}
.nav__lists > li {
  padding-top: 25px;
}

.nav__lists > li > a {
  font-size: 18px;
  color: #14213d;
  text-decoration: none;
}
.nav__lists > li > a:after {
  content: "";
  display: block;
  background-color: #ff7f50;
  height: 3px;
  width: 0%;
  margin-left: 0;
  transition: 0.3s;
}
.nav__lists > li > a:hover:after {
  width: 75%;
}

.nav__icons {
  display: flex;
  justify-content: space-around;
}

.nav__icons > figure {
  padding: 0 12px;
}
.nav__icons > figure > a > img {
  height: 40px;
  width: 40px;
  border: 10px;
}

main {
  position: absolute;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1%;
}
/*--------------------------------------------------------Home section styles----------------------------------------*/
.home {
  display: flex;
  height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.home_description {
  padding: 4%;

  line-height: 2.5;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
}
.animated-text span {
  position: relative;
}

.animated-text span::before {
  content: "Youtuber";
  color: #ff7f50;
  animation: words 20s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #83c5be;
  border-left: 2px solid #ff7f50;
  right: -8px;
  top: 0;
  animation:
    cursor 0.8s infinite,
    typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Software Developer";
  }
  21%,
  40% {
    content: "Web Developer";
  }
  41%,
  60% {
    content: "Javascript Developer";
  }
  61%,
  80% {
    content: "Designer";
  }
  81%,
  100% {
    content: "Freelancer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
.About__me {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: sans-serif;
  line-height: 2;
}
